<!DOCTYPE html>
<html>
<head>
  <title>Basic Node App</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h2> What's the temperature in Lakeland, FL?</h2>
      <p><%= weather %></p>
</body>
</html>